@mixin abs-position($top:null, $right:null, $bottom:null, $left:null) {
     @if ($top==null){
        $top: 0;
    }
    @if ($right==null) {
        $right: $top;
    }
    @if ($bottom==null) {
        $bottom: $right;
    }
    @if ($left==null) {
        $left: $bottom;
    }
    bottom  : $bottom;
    left    : $left;
    position: absolute;
    right   : $right;
    top     : $top;
}
@mixin abs-position-bl($bottom:0, $left:0) {
    bottom  : $bottom;
    left    : $left;
    position: absolute;
}
@mixin abs-position-blr($bottom:0, $left:0, $right:0) {
    bottom  : $bottom;
    left    : $left;
    position: absolute;
    right   : $right;
}
@mixin abs-position-br($bottom:0, $right:0) {
    bottom  : $bottom;
    position: absolute;
    right   : $right;
}
@mixin abs-position-tlr($top:0, $left:0,$right:0) {
    left    : $left;
    position: absolute;
    right   : $right;
    top     : $top;
}

$color: #ffffff;
