<div class="map-div">
    <div>lat: {{ restaurant.location.lat }}</div>
    <div>lng: {{ restaurant.location.lng }}</div>
</div>
<div class="info-div">
    <div class="name-div">{{ restaurant.name }}</div>
    <div class="category-div">{{ restaurant.category }}</div>
</div>
<div class="detail-div">
    <div>
        <div>{{ restaurant.location.address }}</div>
        <div>{{ restaurant.location.city }}, {{ restaurant.location.state }} {{ restaurant.location.postalCode }}</div>
    </div>
    <div>{{ restaurant.contact.formattedPhone }}</div>
    <div>@{{ restaurant.contact.twitter }}</div>
</div>
